{% extends 'partials/layout.html' %}

{% block content %}
    <h1>Welcome.</h1>
    <br>
    <p> This project was created by Alicia Smith and Andrea Tesarova for the Data Visualisation
        4 module of BSc in Software Design. It analyzes the sentiment of tweets on a topic.
        The chosen topic for the static analyses (TextBlob/Vader) is 'biden'. This was chosen
        simply to demonstrate a variety of opinions; and therefore, a variety of sentiments.
    </p>
    <br>
    <p> For the Live Comparison, it is up to you to pick 2 keywords to search for, and a comparison
        of results will be shown for these two keywords.
    </p>
{% endblock %}