{% extends 'partials/layout.html' %}

{% block content %}
    <h1>Static TextBlob Analysis</h1>
    <br>
    <p>This is where we display information about tweets on a topic using TextBlob.</p>
    <br>
    <h2>Sentiment Analysis for {{topic}}</h2>
    <br>
    <table>
        <tr>
            <th>Positive</th>
            <th>Negative</th>
            <th>Neutral</th>
        </tr>
        <tr>
            <td>{{ pos }}</td>
            <td>{{ neg }}</td>
            <td>{{ neu }}</td>
        </tr>
    </table>
{% endblock %}