{% extends 'partials/layout.html' %}

{% block content %}
    <h1>Static Vader Analysis</h1>
    <br>
    <p>This is where we display a visualisation of tweets on a topic using vader.</p>
    <div id="chartContainer"></div>
    <script>
        $(document).ready(function() {
            var data_list = {{ data_list|safe }};
            var drilldown = {{ drilldown|safe }};
            Highcharts.chart('chartContainer', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: '{{ description_text }}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                xAxis: {
                    title: {
                        text: 'Bracketed sentiment breakdown'
                    },
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Number of Tweets'
                    }
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: '{{ chart_name }}',
                    colorByPoint: true,
                    data: [
                        {
                            name: data_list[0]['name'],
                            y: data_list[0]['y'],
                            drilldown:'positive'
                        },
                        {
                            name: data_list[1]['name'],
                            y: data_list[1]['y'],
                            drilldown: 'neutral'
                        },
                        {
                            name: data_list[2]['name'],
                            y: data_list[2]['y'],
                            drilldown:'negative'
                        }
                    ]
                }],
                drilldown: {
                    series: [{
                        id: 'positive',
                        type:'column',
                        data: drilldown['pos']
                    }, {
                        id: 'neutral',
                        type:'column',
                        data: drilldown['neu']
                    }, {
                        id: 'negative',
                        type:'column',
                        data: drilldown['neg']
                    }]
                }
            })
        });
    </script>
{% endblock %}